{% extends 'portfolio_application/index.html' %}
{% load static %}
{% block section %}
<section class="about">
    <h2 class="h2">&gt; Мои навыки:</h2>
    {% if skills %}
    <ul class="about__list">
        {% for skill in skills %}
        <li class="card">
            <div class="card__picture">
                <img src="{{skill.picture.url}}" alt="{{skill.title}}" class="card__image">
            </div>
            <div class="card__text">{{skill.description}}</div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h2 class="h2">Навыков нет</h2>
    {% endif %}
</section>
{% endblock %}