{% extends 'portfolio_application/index.html' %}
{% load static %}
{% block section %}
<section class="contacts">
    <form class="form" action="mailto:UglyGhoulChrist@gmail.com" enctype="text/plain">
        <h2 class="h2">&gt; Напишите мне</h2>
        <label for="name" class="label">_Ваше имя:</label>
        <input class="input" maxlength="40" type="text" name="name" placeholder="Ваше имя" id="name">
        <label for="email" class="label">_Ваша почта:</label>
        <input class="input" maxlength="40" type="email" name="email" placeholder="Ваш Email" id="email">
        <label for="message" class="label">_Ваше сообщение:</label>
        <textarea class="input input_message" name="message" placeholder="Ваше сообщение"
            id="message"></textarea>
        <button type="submit" class="button">отправить</button>
    </form>
    <div class="code">
        <h2 class="h2">&gt; Java Script</h2>
        <ul class="code__list">
            <li class="code__item"><span class="text_pink">const </span><span class="text_violet">button </span><span
                    class="text_pink">=
                </span><span class="text_violet">document.querySelector </span>( <span class="text_green">'#sendBtn'
                </span>);</li>
            <li class="code__item"></li>
            <li class="code__item"><span class="text_pink">const </span><span class="text_violet">message </span><span
                    class="text_pink">=
                </span>{</li>
            <li class="code__item"><span class="text_violet"> name</span>
                : <span class="text_green">"Jonathan Davis"</span>, </li>
            <li class="code__item">
                <span class="text_violet"> email</span>
                : <span class="text_green">""</span>,
            </li>
            <li class="code__item">
                <span class="text_violet"> message</span>
                : <span class="text_green">""</span>,
            </li>
            <li class="code__item"> date: <span class="text_green">"Thu 21 Apr"</span></li>
            <li class="code__item">}</li>
            <li class="code__item"></li>
            <li class="code__item">
                <span class="code__item_violet">button.addEventListener</span>(
                <span class="code__item_green">'click'</span>, ()
                <span class="code__item_green"> =&gt;</span> {
            </li>
            <li class="code__item">
                <span class="code__item_violet"> form.send</span>(<span class="code__item_violet">
                    message</span> );
            </li>
            <li class="code__item">})</li>
        </ul>
    </div>
</section>
{% endblock %}