{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Сайт-портфолио фронтенд / бэкенд разработчика UglyGhoulChrist">
    <meta name="keywords" content="Портфолио, фронтенд, бэкенд, HTML, CSS, создание сайтов">
    <meta name="author" content="UglyGhoulChrist@gmail.com">
    <meta name="copyright" content="UglyGhoulChrist">
    <meta name="address" content="Россия, Владимирская область, город Александров">
    <link rel="shortcut icon" href="{% static 'portfolio_application/img/favicon.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'portfolio_application/css/style.css'%}" type="text/css">
    <title>Сайт-портфолио фронтенд / бэкенд бэкенд разработчика UglyGhoulChrist</title>
</head>

<body>
    <div class="wrapper">
        <header class="header" id="header">
            <nav class="navbar _container">
                <div class="navbar__wrap">
                    <div class="hamb">
                        <div class="hamb__field" id="hamb">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </div>
                    <a href="#" class="logo" id="logo">UglyGhoulChrist</a>
                    <ul class="menu" id="menu">
                        <li class="menu__item">
                            <a class="menu__link" href="{% url 'hello' %}">_привет</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="{% url 'about' %}">_обо мне</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="{% url 'projects' %}">_мои проекты</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="{% url 'contacts' %}">_контакты</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="popup" id="popup"></div>

        </header>

        <main class="main _container">
            {% block section %}{% endblock %}
        </main>
        <footer class="footer _container">
            <div class="footer__mail">
                <a href="mailto:UglyGhoulChrist@gmail.com" target="_blank"
                    class="footer__link">UglyGhoulChrist@gmail.com</a>
            </div>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="https://api.whatsapp.com/send?phone=791018071**" target="_blank" class="footer__link">
                        <div class="footer__icon">
                            <img src="{% static 'portfolio_application/img/WhatsApp.svg'%}" alt="WhatsApp"
                                class="footer__image">
                        </div>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="viber://add?number=791018071**" target="_blank" class="footer__link">
                        <div class="footer__icon">
                            <img src="{% static 'portfolio_application/img/Viber.svg'%}" alt="Viber"
                                class="footer__image">
                        </div>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">
                        <div class="footer__icon">
                            <img src="{% static 'portfolio_application/img/Facebook.svg'%}" alt="Facebook"
                                class="footer__image">
                        </div>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">
                        <div class="footer__icon">
                            <img src="{% static 'portfolio_application/img/Instagram.svg'%}" alt="Instagram"
                                class="footer__image">
                        </div>
                    </a>
                </li>
            </ul>
        </footer>
    </div>
    <script src="{% static 'portfolio_application/js/script.js'%}"></script>
</body>

</html>