{% extends 'portfolio_application/index.html' %}
{% load static %}
{% block section %}
<section class="projects">
    {% if projects %}
    {% for project in projects %}
    <div class="_collumn">
        <h2 class="h2">&gt; {{project.title}}</h2>
        <div class="text">{{project.description}}</div>
        <a href="{{project.link_project}}" target="_blank" class="link">
            <span class="text text_violet">https://</span>
            <span class="text text_green">github.com/</span>
            <span class="text text_pink">...</span></a>
    </div>
    <div class="_collumn">
        <img src="{{project.picture.url}}" alt="{{project.title}}" class="image">
    </div>
    {% endfor %}
    {% else %}
    <h2 class="h2">Проектов нет</h2>
    {% endif %}
</section>
{% endblock %}